/* **************************
/* Text
/* ************************** */

h1, h2, h3, h4, h5, h6, p, ul, li, span {
    font-family: "Mulish", sans-serif;
}

h1 {
    color: black;
    margin:20px 0px;
}

// <weight>: Use a value from 200 to 1000
// <uniquifier>: Use a unique and descriptive class name

.mulish-<uniquifier> {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* **************************
/* Tables
/* ************************** */
.table_projects {
    overflow: auto;
    width: 100%;
}

.table_projects table {
    /* border: 1px solid black; */
    height: 100%;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
}

.table_projects caption {
    caption-side: top;
    text-align: left;
}

.table_projects th {
    /* border: 1px solid black; */
    background-color: #e8e6c1;
    color: #000000;
    padding: 5px;
}

.table_projects td {
    border-bottom: 1px dotted #e8e6c1;
    background-color: #ffffff;
    color: #000000;
    padding: 5px;
}