.DS_Store
app-do
claude files
LICENSE
# .gitignore
.env
*.env
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
/.nova
app.db
/app/__pycache__
/app/__pycache__
app/app.db
