* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
  background-color: #F8F5F1;
  color: black;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e3e4d5;
  padding: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo h1 {
  font-size: 1.5rem;
  margin-bottom: 0.2rem;
}

.nav {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: center;
}

.nav a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
}

.nav a:hover {
  text-decoration: underline;
  color: #2b4639;
  font-weight: 500;
}

.hero {
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
}

.menu {
  background-color: #D5D5C6;
  max-width:800px;
  margin: 0 auto;
  padding: 1rem 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}

.card {
  padding: 0px;
  border-radius: 10px;
  max-width: 800px;
  width: 100%;
  border: 2px #D5D5C6 solid;
  box-shadow: 10px 10px 0px #dfdfc6;
}

.card img {
  width: 100%;
  /* margin-top: 1rem; */
  border-radius: 10px;
}

.content {
  padding: 2rem 1rem;
  display: flex;
  justify-content: center;
}

.text-block {
  max-width: 800px;
}

.text-block h2, .text-block h3 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.footer {
  text-align: center;
  padding: 1rem;
  background-color: #e3e4d5;
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
  }

  .nav {
    margin-top: 0;
  }

  .text-block {
    padding: 0 1rem;
  }
}