{% extends 'base.html' %}

{% block content %}
    {# {% for detail in project %} #}
    <h2>{{ project['name'] }}</h2>
    <span class="badge badge-primary">{{ project['created'] }}</span>
    <p><strong>DRI:</strong>{{ project['dri'] }}</p>
    <p><strong>Team:</strong>{{ project['team'] }}</p>
    <p><strong>Context and Background:</strong>{{ project['context'] }}</p>
    <p><strong>Reason for Prioritization:</strong>{{ project['why'] }}</p>
    <p><strong>Requirements:</strong>{{ project['requirements'] }}</p>
    <p><strong>Launch Plan:</strong>{{ project['launch'] }}</p>
    {# {% endfor %} #}
{% endblock %}
